p, h3, h4, a, table, span {
    font-family: "Helvetic Neue", Helvetica, Arial;
    color: black;
}

input {
    border: 1px solid #000;
}

input:hover {
    border: 1px solid #1967c3;
    color: #1967c3;

}

body {
    background: gainsboro;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
    min-height: 990px;
    background: white;
    overflow: hidden;
}

header {
    height: 100px;
}

.header__logo {
    width: 200px;
    display: inline-block;
    float: left;
    background: white;
}

.header__logo p {
    font-size: 30px;
    line-height: 100px;
    text-align: center;

}

.header__title {
    height: 100px;
    width: 940px;
    float: left;
    background: #016ce7;
}

.header__user {
    float: right;
    width: 165px;
    height: 70px;
    background: #fffeff;
    border-radius: 5px;
    margin: -85px 73px 0px 0;
}

.header__title h3 {
    font-size: 20px;
    line-height: 100px;
    padding-left: 40px;
    color: white;
}

.header__user--photo {
    background: #3fa6fb;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 15px 0px 0px 15px;
}

.header__user--photo .fa-user {
    color: white;
    margin: 7px 0 0 10px;
    font-size: 25px;
}

.header__user p {
    margin: -39px 0 4px 70px;
    font-weight: bold;
}

.header__user a {
    margin-left: 70px;
}

/* ==========================================================================
Navigation
========================================================================== */

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 200px;
    float: left;
}

#navbar a {
    color: black;
    padding: 10px 0 10px 5px;
    text-decoration: none;
    display: block;
}

#navbar ul {
    width: 199px;
    background: #f8f9e0;
    border: 1px solid #000;
    border-top: none;
}

#navbar li:hover {
    -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 99%, 0 0);
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 99%, 0 0);
    background: rgba(1, 108, 231, 1);
    width: 210px;
    border: 1px solid #000;
    border-left: none;
}

#navbar li:hover a {
    color: white;
}

.wrapper__aboutCompany {
    width: 940px;
    float: left;
}

/* ==========================================================================
Forms New company
========================================================================== */

.forms--nCompany {
    width: 385px;
    margin: 5px 0 0 35px;
    float: left;
    min-height: 250px
}

.forms--nCompany input {
    padding-left: 4px;
    float: right;
    font-size: 15px;
}

.forms--nCompany p {
    padding: 10px 0 10px 15px;
    font-size: 18px;
}

.forms--nCompany a {
    font-size: 15px;
    margin-left: 15px;
}

.forms--nCompany select {
    margin: 8px 0 4px 13px;
    height: 24px;
}

#formPhone {
    margin-top: 8px;
}

/* ==========================================================================
Forms Users
========================================================================== */

.forms--users {
    width: 385px;
    float: left;
    margin-left: 75px;
    margin-top: 13px;
    min-height: 250px;
}

.wrapper__users {
    height: 250px;
    overflow: auto;
}

.users__panel p {
    display: inline-block;
    line-height: 50px;
    color: white;
    padding-left: 10px;
    padding-right: 150px;
}

.users__panel a {
    color: white;
    padding-right: 18px;
}

.users__panel {
    background: #74aafb;
    height: 50px;
}

.users__panel, .users__panel--body {
    border: 1px solid #000;
}

.users__panel--body p {
    padding: 5px 0 5px 5px;
}

.users__panel--body select {
    margin-left: 5px;
}

.users__panel--body input {
    width: 130px;
    margin-left: 20px;
    padding-left: 5px;
}

.formAddBut {
    float: right;
    margin-top: 10px;
    height: 30px;
    width: 135px;
    background: #1967c3;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.formAddBut:hover {
    background: #74aafb;
}

/* ==========================================================================
Modal window
========================================================================== */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog header {
    height: 70px;
    margin-bottom: 10px;
    background: #eee;
}

.wrapper__modal1Title {
    margin: auto;
    width: 200px;
    padding-top: 18px;
}

.wrapper__modal1Title h3 {
    line-height: 39px;
    float: right;
    font-weight: bold;
}

.modalDialog .wrapper__modal1Title div {
    background: black;
    width: 25px;
    height: 25px;
    float: left;
}

.modalDialog .fa {
    color: white;
    font-size: 21px;
    margin: 1px 0 0 5px;
}

.modalDialog > div {
    width: 480px;
    position: relative;
    margin: 10% auto;
    background: #fff;
}

.modalDialog select {
    margin-left: 10px;
}

.modalDialog .fa-plus-square {
    color: black;
    margin: 0;
    font-size: 17px;
}

.modalInput {
    width: 238px;
    float: right;
}

#modalContactName, #modalContactSurname {
    width: 150px;
}

.modalDialog p {
    font-size: 15px;
    width: 459px;
    padding: 5px 20px 5px 7px;
}

.modalBut {
    width: 150px;
    height: 27px;
    margin: 10px 10px 10px 56px;
    color: white;
    background: #5ab95d;
}

.cancel {
    background: #d9544f;
}

/* ==========================================================================
Forms Deals
========================================================================== */

.form--deals {
    width: 385px;
    margin-left: 35px;
    margin-top: 30px;
    float: left;

}

.wrapper__deals {
    height: 500px;
    overflow: auto;
    border: 1px solid #000;
}

.deal__panel {
    background: #75a9fb;
    height: 50px;
}

.deal__panel p {
    float: left;
    padding-right: 75px;
    padding-left: 5px;
    line-height: 50px;
    color: white;
}

.deal__panel--body, .deal__panel {
    border: 1px solid #000;
}

.deal__panel--body p {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

.formDealEditDeal {
    float: right;
    margin: -49px 35px 0 0;
    width: 90px;
    height: 30px;
    border-radius: 10px;
}

.formDealEditDeal:hover {
    color: #1967c3;
}

/* ==========================================================================
Modal window deal
========================================================================== */

.modalDeal .fa {
    font-size: 17px;
    margin: 4px 0 0 4px;
}

.modalDeal .wrapper__modal1Title {
    width: 107px;
}

.modalDeal table {
    width: 450px;
    margin: auto;
    margin-bottom: 5px;
}

.modalDeal .modalInput {
    margin-right: 80px;
}

.modalDeal select {
    float: right;
    width: 258px;
    margin-right: 80px;

}

.modalDeal span, .modalDeal p {
    margin-left: 10px;
}

th, td {
    border: 2px solid #000;
    padding: 2px 0 2px 0;
}

th {
    background: #cccccc;
    text-align: left;
}

tr {
    background: #cccccc;
}

tr:nth-child(2n) {
    background: #fff;
}

.modalDeal .modalBut {
    display: none;
}

.modalDeal .cancel {
    display: inline-block;
}

/* ==========================================================================
Forms task
========================================================================== */

.form--action {
    width: 440px;
    margin-left: 75px;
    margin-top: 50px;
    float: left;
}

.form--action h4 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}

.form--action h3 {
    font-size: 20px;
    text-align: center;
}

.wrapper__action {
    width: 195px;
    float: left;
}

.action__task {
    border: 1px solid #000;
    margin-top: 10px;
    background: #fff0d8;
}

.action__task p {
    padding: 3px 0 3px 5px;
    font-size: 12px;
}

.formActionText {
    display: block;
    margin: auto;
    border: 1px solid #000;
}

.actionBut {
    margin: 5px 0 10px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.wrapper__actionBut {
    width: 110px;
    float: right;
    margin: 43px 0 0 53px;
}

.wrapper__actionBut .actionBut {
    margin: 5px 0 10px 0;
    width: 85px;
    height: 30px;
}

.wrapper__actionBut p {
    font-size: 14px;
    padding-bottom: 7px;
}

/* ==========================================================================
Modal window task
========================================================================== */

.modalTask textarea {
    float: right;
}

.modalTask .fa-tasks {
    font-size: 19px;
    margin: 4px 0 0 4px;
}

.myCalendar {
    width: 220px;
    margin: 3px 0px 0px 8px;
}